[SddmGreeterTheme]
Name=Slice
Description=Simple SDDM theme.
Author=RadRussianRus
Copyright=(c) 2018, RadRussianRus
License=CC-BY-SA
Type=sddm-theme
Website=https://github.com/RadRussianRus/slice-sddm
Version=1.0
MainScript=Main.qml
TranslationsDirectory=translations
ConfigFile=theme.conf